<nav>
  <div class="nav-wrapper">
    <a class="waves-effect waves-light btn menu-text move-right">Get Dropbox Basic</a>
    <a href="#" class="brand-logo center"><%= image_tag("dropbox_logotype") %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#"  class="menu-text">Compare plans</a></li>
      <li><a href="#" class="menu-text">Sign in</a></li>
    </ul>
  </div>
</nav>