            <%= link_to download_path(id: @repo.id) do %>
              <i class="material-icons">file_download</i>
            <% end %>
            <p id = "rid" hidden><%= @repo.id %></p>
            <p id = "rurl" hidden><%= download_path(id: @repo.id) %></p>