
  <div class = "container row">
    <%= render "layouts/top_navbar" %><br><br><br>
    <div class = "col s2">
      <a href="#!" class="brand-logo"> <%= image_tag "dropbox_logo.png" %></a>
      <ul>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Files</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Paper</a></li>
        <li><a href="#">Photos</a></li>
      </ul>
    </div>
    <br><br>
    <div class = "col s10">
      <table>
        <tr>
          <th>Name</th>
          <th>Modified</th>
          <th>Members</th>
        </tr>
        <tr>
          <td>Sample name</td>
          <td>Sample modified</td>
          <td>Sample members</td>
        </tr>
      </table>
    </div>
  </div>
