<h3>What's your email?</h3>

<%= text_field :email, place_holder: "Email" %>

<p class='send-verification waves-effect waves-light btn'>Send Verification Text</p>

<%= text_field :verification_code, place_holder: "Verification code", class:'get-verification' %>