<div class = "container row">
  <h3>Settings</h3>
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#profile">Profile</a></li>
        <li class="tab col s3"><a href="#account">Account</a></li>
        <li class="tab col s3"><a href="#security">Security</a></li>
      </ul>
    </div>
    <div id="profile" class="col s12">
      <div class = "row">

      </div>
    </div>
    <div id="account" class="col s12">Account</div>
    <div id="security" class="col s12">Security</div>
  </div>
</div>