.brand-logo img {
  width: 36px;
  box-sizing: content-box;
}

.dropdown-button {
  color: #007ee5;
}

nav {
  box-shadow: 0 0 0 0;
<<<<<<< HEAD
  color: $dropbox-blue;
=======
>>>>>>> 8cc4f9f135e725f89ac7b05bdc02ca7c17baf0ca
}
