img.possibility-box{
  height: 288px;
  width: 266px;
  margin-top: 130px;
  margin-left: 30%;
  display:inline;
  float: right;
}

.login-info{
  margin-top: 130px;
}

#filled-in-box{
  opacity: 100;
  position: unset;
}
