div.col.s12.all-tab-details {
  padding-top: 30px;
}

.account-detail {
  margin-top: 30px;
  line-height: 23px;
}

.account-name {
  margin-bottom: 32px;
}

div.col.s12.account-password {
  padding: 0;
  margin-bottom: 25px;
}

div.col.s12.account-verification {
  padding: 0;
  margin-bottom: 25px;
}
