  <!-- Modal Structure -->
  <div id="change-username" class="modal">
    <% form_for @user do |f| %>
      <div class="modal-content">
        <h4>Modal Header</h4>
        <div class = "input-field" >
          <%= f.text_field :first_name, placeholder: "First Name", class: "validate" %>
        </div>
        <div class = "input-field" >
          <%= f.text_field :last_name, placeholder: "Last Name", class: "validate" %>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
    <% end %>
  </div>