 <% flash.each do |type, message| %>
    
    <div class="card-panel deep-orange">
        <div class="row">
            <div class="white-text">
                <h5 class= "center"><%= message %></h5>
            </div>
        </div>
    </div>
         
  <% end %>