<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Settings</a></li>
  <li><a href="#!">Dashboard</a></li>
  <li><a href="#!">Logout</a></li>
  <li class="divider"></li>
</ul>
<nav>
  <div class="nav-wrapper">

    <ul class="right">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Hello,<class="material-icons right"> <%= "placeholder" %> </a></li>
    </ul>
  </div>
</nav>
